body {
    background-color: white;
    padding: 0;
}
.ft {
    text-align: center;
    justify-content: center;
    padding: 5px;
    background-color: #45a1ff;
    color: #fff;
}

.graphWrapper{
    width: fit-content;
    box-shadow:3px 2px 18px 0px rgba(0,0,0,0.25)'
}