body {
    
    margin: 0;
    
    }

#drop-highest .Select-value-label {
    color: #e7eeea
}

#slider-highest .rc-slider-step{
    color: #2B2D42

}

#slider-highest .rc-slider-rail{
    color: #EB5160
    
}